%p#footer-copyright
  %span.severity.label.label-important Important
  Copyright &copy;
  = "#{DateTime.now.strftime('%Y')} by"
  %a{ :href => 'http://nextreamlabs.org' }="Nextreamlabs"
  = ". All rights reserved."
%p#footer-website-creator
  %span.severity.label.label-inverse Noteworthy
  This website has been created by Alessandro Molari
%p#footer-website-layout
  %span.severity.label.label-info Info
  This website has a reactive and fluid layout. It automatically adapts its contents based on the screen size :)
