#curriculum
  %h2#curriculum-title Curriculum vitae

  #curriculum-content.well
    -                                   # Surname Lastname
    .row-fluid
      .span3
        %em Surname / First name
      .span9
        %strong Molari, Alessandro
    -                                   # Address
    .row-fluid
      .span3
        %em Address
      .span9
        %address
          Via San Giorgio, 455
          %br
          Cesena
          %br
          47522
          %br
          Forli-Cesena
          %br
          Italy
    -                                   # Telephone
    .row-fluid
      .span3
        %em Mobile Phone
      .span9
        %p +39 3477532861
    -                                   # Email
    .row-fluid
      .span3
        %em Email
      .span9
        %a{ :href => 'mailto:molari.alessandro@gmail.com' } molari.alessandro@gmail.com
    -                                   # Nationality
    .row-fluid
      .span3
        %em Nationality
      .span9
        %p Italian
    -                                   # Date of birth
    .row-fluid
      .span3
        %em Date of birth
      .span9
        %p 08/12/1989
    -                                   # Gender
    .row-fluid
      .span3
        %em Gender
      .span9
        %p Male
    -                                   # Desired employment
    .row-fluid
      .span3
        %em Desired employment
      .span9
        %ul
          %li Project management and agile software development in both Small/Enterprise Applications and Web Solutions.
          %li Linux systems administration and automation in both Server side and Client side environments.


  %blockquote#curriculum-quote
    %p Experience is the hardest kind of teacher. It gives the test before presenting the lesson.
    %small Oscar Wilde
